mat-card {
    margin: auto;
    max-width: 20rem;
    background-color: transparent;
    border: 2px solid var(--secondary-color);
}

mat-list-item:hover {
    background-color: #E0E0E0;
    color: black;
    border-radius: 5px;
    cursor: pointer;
}
.mat-list-item {
    color: var(--secondary-color);
    font-size: var(--regular-font-size);
}


