.material-icons {
    font-size: 35px;
}

.mat-icon,
div {
    color: var(--secondary-color);
}

mat-icon {
    width: 35px;
    height: 35px;
}

.mat-icon-button i, .mat-icon-button .mat-icon {
    line-height: 35px;
}

div {
    margin-left: 10px;
    cursor: pointer;

}

mat-toolbar {
    background-color: transparent;
    border-bottom: 1px solid var(--secondary-color);
    animation-name: powerOn;
	animation-duration: var(--animation-delay);
	animation-fill-mode: both;
	animation-timing-function: var(--animation-timing-function);
}

mat-toolbar mat-toolbar {
    border: none;
}