/* You can add global styles to this file, and also import other style files */
:root {
	--primary-color: rgb(63, 80, 181);
	--secondary-color: rgb(255, 255, 255);
}

html,
body {
	height: 100%;
	overscroll-behavior: none;
}
body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	background-image: linear-gradient(45deg, var(--primary-color), pink);
	// background-attachment: fixed;
}

.main-container {
	display: flex;
	align-items: center;
	height: calc(100% - 64px);
	h2 {
		color: var(--secondary-color);
		font-size: clamp(1.75rem, 8vw, 4rem);
		line-height: initial;
		margin: 0;
		font-weight: 100;
		margin-bottom: .25em;
	}
}

mat-card {
    width: 70vw;
	overflow-x: scroll;
	background: #fff;
	color: rgba(0, 0, 0, .87);
	mix-blend-mode: lighten;
}


